@charset "utf-8";

p,
li {
  line-height: 1em;
}
h1,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
li {
  list-style: none;
}

header {
  width: 100%;
  z-index: 1;
}
header,
.transform {
  position: fixed;
  background-color: #fff;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  margin-left: auto;
  padding: 0 1rem;
}
.header__menu {
  font-weight: 100;
  font-family: system-ui;
  padding: 1rem 0rem;
}

.key__visual {
  background-image: url(./images/mainImg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1000px;
  width: 100%;
  height: 440px;
  background-position: center;
  margin: 0 auto;
  position: relative;
  margin-bottom: 3rem;
}
.key__text--container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.key__text--container > .title,
.subtitle {
  color: #fff;
}
.title {
  font-weight: bold;
  margin-bottom: 1rem;
}
.container {
  max-width: 870px;
  margin: 0 auto;
}
.mb-3 {
  margin-bottom: 3rem;
}
.section__title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}

.sub_text {
  line-height: 2em;
  letter-spacing: 0.5px;
  font-size: 14px;
}
.bg {
  background-color: aliceblue;
}
.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.order3 {
  order: 4;
}
.order4 {
  order: 3;
}
.flex__image-container,
.flex__text-container {
  width: 50%;
}
.card__image-container img,
.flex__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flex__text-container p {
  padding: 0rem 5rem;
}

.card__flex {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 29%;
  padding: 0 1rem;
}
.card__title h2 {
  text-align: center;
  margin: 2.5rem 0;
  font-weight: 100;
}
.card__image-container {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.card__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.card__text__container p {
  line-height: 1.5em;
  letter-spacing: 0.5px;
  font-size: 14px;
}
.bg__image {
  background-image: url(./images/bgSec04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0;
}
.text-white {
  color: #fff;
}
.py-3 {
  padding: 5rem 0;
}
.kaisha {
  width: 100%;
}

.kaisha th,
.kaisha td {
  padding: 10px 0;
  width: 20%;
}

.kaisha th {
  font-weight: 100;
}
.copy {
  text-align: center;
}
.p-3 {
  padding: 3rem;
}
@media screen and (max-width: 767px) {
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
  .order3 {
    order: 3;
  }
  .order4 {
    order: 4;
  }
  .kaisha,
  .kaisha td,
  .kaisha th {
    display: block;
  }
  .kaisha th {
    width: 10%;
  }
  header,
  .transform {
    position: relative;
  }
  .hamburger {
    display: block;
    position: absolute;
    z-index: 3;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }

  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top: 16px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header__container {
    position: fixed;
    z-index: 2;
    top: 50px;
    left: 0;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    width: 100%;
  }

  .header__container {
    padding: 0;
    width: 100%;
  }

  .header__container li {
    list-style-type: none;
    width: 100%;
    border-bottom: 1px solid #444444;
    text-align: left;
    padding: 1rem;
  }

  .arrow {
    position: relative;
    display: inline-block;
    padding-left: 20px;
  }

  .arrow::before {
    content: '';
    width: 6px;
    height: 6px;
    border: 0px;
    border-top: solid 2px #444444;
    border-right: solid 2px #444444;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -4px;
  }
  .header__container ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  .header__container ul li:hover {
    background: #ddd;
  }

  .header__container ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
    text-decoration: none;
  }

  /* このクラスを、jQueryで付与・削除する */
  .header__container.active {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 480px) {
  .key__visual {
    background-size: cover;
    height: 100vh;
  }
  .flex__image-container,
  .flex__text-container {
    width: 100%;
  }
  .flex__text-container p {
    padding: 1rem 4rem;
  }
  .card {
    width: 100%;
  }
}
